:root {
  --photo: #4CB256;
  --location: #EEEEEE;
  --video: #EF5757;
  --schedule: #E1AE4A;

  /* My Colors */
  --black: #121212;
  --lightBlack: #181818;
  --darkgray: #282828;
  --gray: #404040;
  --lightGray: #b3b3b3;
  --white: #eaeaea;
  --blue: #0096c7;
  --lightblue: #00bbf9;
  --darkblue: #0096c7;
  --lightwhite: #fff;
}

.App{
  /* overflow:hidden; */
  color: var(--white);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 0.25rem;
  border: none;
  background: linear-gradient(to right, var(--blue), rgb(8, 117, 220));
  cursor: pointer;
  color: var(--lightwhite);
  height: 2.5rem;
  width: 6rem;
  
}

.button:hover{
  background: transparent;
  transition: 200ms ease-in;
  color: var(--darkblue);
  border: 0.125rem solid var(--darkblue);
}

::-webkit-scrollbar{
  display: none;
}
.active{
  position: relative;
  top: 0.1rem;
}
.active > .sphere {
  position: absolute;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  /* margin: 10px 10px 0px 175px; */
  background: 
    radial-gradient(
      var(--lightblue),
      var(--lightBlack)
    );
  background-size: 200% 200%;
  animation: turn 3s ease-out 0s infinite;
  z-index: -1;
  top: -0.25rem;
}
.active span{
  color: var(--blue);
  font-weight: 600;
  font-size: 0.625rem !important;
}
.sphere{
  z-index: 2 !important;
}
.navIcons > a > svg,.navIcons > svg, .navIcons > a >img{
  z-index: 3 !important;
}
.active:hover{
  color: var(--white) !important;
}

@keyframes turn {
  0%, 100% {
    background-position: 20% 90%;
  }
  50% {
    background-position:90% 20%;
  }
}

