.trendCard{
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    gap: 1rem;
    padding:1rem 2rem;
    -webkit-box-shadow: 0 0 0.9rem 0.35rem #000000; 
    box-shadow: 0px 0px 1rem 0.35rem #000000;
    background-color: var(--black);
    margin-top: 1rem;
}

.trendCard > span{
    display: flex;
    align-self: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.3rem 0 0.3rem;
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
    cursor: pointer;
}
.trendCard > span:hover{
    transition: ease-in 200ms;
    color: var(--lightblue);
    border-bottom: 2px solid var(--lightblue);
}

.trend{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.trend > a > span{
  font-weight: 600;
  cursor: pointer;
}
.trend > a > span:hover{
    transition: ease-in 200ms;
    color: var(--lightblue);
}
.trend > span{
    font-size: 0.85rem;
    color: var(--lightGray)    
}

.trend-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
}
.trend-menu > .location-input{
    width: 100%;
    border-radius: 2rem;
    display: flex;
    border: 0.125rem solid var(--gray);
    position: relative;
}
.trend-menu > .location-input >input{
    width: 100%;
    outline: none;
    border: none;
    height: 2.2rem;
    font-size: 1rem;
    padding: 0 1rem;
    background-color: transparent;
    color: var(--white);
}

.trend-menu > .location-input > svg{
    position: absolute;
    right: 0.5rem;
    top: 0.4rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.trend-menu > .location-input > svg:hover{
    color: var(--lightblue);
}

.place{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font-size: 1.1rem;
    z-index: 2;
    background-color: black;
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: calc(100% - 2rem);
    padding: 1rem;
    max-height: 15rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.place > div{
    cursor: pointer;
}
.place > div:hover{
    color: var(--lightblue);
}
.trend-location{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 100%;
    
}
.trend-location::before{
    content: '';
    position: absolute;
    /* height: 100%;*/
    width: 60% ;
    aspect-ratio: 1;
    border-radius: 50%;
    
}
.trend-location:hover::before{
    background-color: rgba(128, 128, 128, 0.312);
    z-index: -1;
}

.trend-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 25rem;
    overflow-y: scroll;
}

@media screen and (max-width: 700px){
    
}




