.followersCard{
    width: 100%;
    border-radius: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    /* padding-bottom: 10rem; */
    height:fit-content;
    /* margin-left: 1.5rem; */
    
}

.all-users{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.25rem;
}

.followersCard > h3{
    margin: 0;
    align-self: center;
    font-size: 1.25rem;
    border-bottom: 0.125 solid var(--blue) !important;
    color: var(--blue);
    cursor: pointer;
}
.followersCard > h3:hover{
    transition: ease-in 200ms;
    color: var(--lightblue);
    border-bottom: 0.125rem solid var(--lightblue);
}





