.followersCard{
    width: calc(100% - 5rem);
    border-radius: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 1.5rem;
}
.followersCard > h3{
    margin: 0;
    align-self: center;
    font-size: 1.25rem;
    border-bottom: 2px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
}
.followersCard > h3:hover{
    transition: ease-in 200ms;
    color: var(--lightblue);
    border-bottom: 2px solid var(--lightblue);
}
.follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follower>div{
    display: flex;
    gap: 0.5rem;
}

.followerImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    font-size: 0.9rem;
    padding-left: 0.2rem;
}
.name>span:nth-of-type(1){
    font-weight: 500;
}
.name>span:nth-of-type(2){
    color: var(--lightGray)
}

.fc-button{
    height: 2rem;
    width: 7rem;
    padding: 0 1rem;
    font-weight: 600;
    font-size: 1rem;
}

.unfollow{
    background: transparent;
    color:var(--blue);
    border: 2px solid var(--blue);
}

.unfollow:hover{
    background: linear-gradient(to right, var(--blue), var(--lightblue));
    color: var(--white);
}