.followersCard{
    width: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    
}

.all-users{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.followersCard > h3{
    margin: 0;
    align-self: center;
    font-size: 1.25rem;
    border-bottom: 0.125 solid var(--blue) !important;
    color: var(--blue);
    cursor: pointer;
    padding: 1rem;
}
.followersCard > h3:hover{
    transition: ease-in 200ms;
    color: var(--lightblue);
    border-bottom: 0.125rem solid var(--lightblue);
}





