*{
    margin: 0;
    padding: 0;
}
.home{
    position: relative;
    display: grid;
    grid-template-columns: 25% 45% 25%;
    gap: 2.5%;
    height: calc(100vh - 5rem);
    overflow-y: scroll;
    z-index: 1 !important;
}
.home-postSide{
    overflow-y: scroll;
}

.home-mobile-navbar{
    display: none;
}

@media screen and (max-width: 1024px) and (min-width: 700px){
    .home{
        grid-template-columns: 60% 37.5%;
    }
    .home-profileSide{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .home{
        grid-template-columns: 100%; 
        justify-content: center;
    }
    .home-profileSide{
        display: none;
    }
    .home-rightSide{
        display: none;
    }
  
    .home-postSide{
        width: 100%;
        margin-top: 3rem;
    }

    .home-navbar{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: transparent;
    }
} 