.profileCard{
    width: calc(100% - 3rem);
    margin-left: 1rem;
    /* margin-top: 0.5rem; */
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.75rem;
    border-radius: 3rem;
    -webkit-box-shadow: 0 0 0.9rem 0.35rem #000000; 
    box-shadow: 0px 0px 1rem 0.35rem #000000;
    overflow-x: clip;
    background-color: var(--black);
    padding-bottom: 1rem;
}
.profileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileImages>svg:nth-of-type(1){
    position: absolute;
    width: 1.7rem;
    height: 2rem;
    color: var(--black);
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.profileImages>svg:nth-of-type(2){
    position: absolute;
    width: 1.7rem;
    height: 2rem;
    bottom: -3.5rem;
    right:calc(50% - 3.35rem);
    cursor: pointer;
    color: var(--white);
}
.profileImages>svg:hover{
    color:var(--lightblue);
    transition: ease-in 100ms;
}
.profileImages>img:nth-of-type(1){
    width: 100%;
    min-height: 10rem;
    max-height: 20rem;
    object-fit: cover;
    background-color: var(--black);
}
.profileImages>img:nth-of-type(2){
    position: absolute;
    aspect-ratio: 1;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    bottom: -3.5rem;
    border: 0.125px solid var(--white);
}

.profileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    gap: 0.625rem;
}

.profileName>span{
    font-size: 1.1rem;
    font-weight: 500;
}

.followStatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.followStatus > hr{
    width: 85%;
    border: 0.5px solid var(--gray);
    background-color: var(--gray);
}
.followStatus > div{
    display: flex;
    gap: 1rem;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}
.follow{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.follow > span:nth-of-type(1){
    font-weight: 700;
}
.follow > span:nth-of-type(2){
    font-weight: 300;
    font-size: 0.82rem;
}
.vl{
    height: 3rem;
    border-left: 0.125rem solid var(--gray);
}

.profileCard > span{
    font-size: 1.1rem;;
    font-weight: 600;
    align-self: center;
    cursor: pointer;
    color: var(--blue) ;
}
.profileCard > span:hover{
    transition: ease-in 200ms;
    color: var(--lightblue);
}

@media screen and (max-width: 1024px) and (min-width: 700px){
    .profileCard{
        width: calc(100% - 1.5rem);
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 700px){
    .profileCard{
        width: calc(100% - 1.25rem);
        margin-left: 0;
    }
}
