.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: calc(100% - 0.95rem);
    border: 0.05rem solid var(--gray);
    padding: 0.5rem;
    /* height: 10rem; */
}
.followerImg{
    width: 4.5rem;
    height: 4.5rem;
    border: 0.125rem solid var(--white);
    border-radius: 50%;
    object-fit: cover;
}
.allusers-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    /* height: 4rem; */
    text-align: center;
    padding: 0.5rem;
    /* padding-left: 0.2rem; */
}
.allusers-name>span:nth-of-type(1){
    font-weight: 500;
    width: 100%;
    overflow-y: scroll;
}
.allusers-name>span:nth-of-type(2){
    font-size: 0.8rem;
    color: var(--lightGray)
}

.request-btn-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.fc-button{
    flex: 1;
    padding: 0.5rem 1rem !important;
    font-weight: 600;
    font-size: 1rem;
}
