.navbar{
    position: sticky;
    display: grid;
    grid-template-columns: 27.5% 45% 27.5%;
    height: 5rem;
}

.navItemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.logoSearch{
    width: calc(100%-5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
    padding: 0 2.5rem;
    gap: 1rem;
}
.logoSearch > a{
    flex: 1;
}

.search{
    display: flex;
    border-radius: 5rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--white);
    width: calc(100% - 1rem);
    flex: 1.5;
    position: relative;
}
.search>input{
    border: none;
    font-size: 0.95rem;
    
}

.search>input:focus{
    outline: none;
}
.searchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.5rem;
    
}
.searchIcon:hover{
    cursor: pointer;
}
.icon{
    color: black;
}
.logo{
   background-color: transparent;
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.centerNavIcons{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    -webkit-box-shadow: 0 0 0.9rem 0.35rem #000000; 
    box-shadow: 0px 0px 1rem 0.35rem #000000;
    border-radius: 2rem;
    width: calc(100% - 3.85rem);
    margin-top: 1rem;
    margin-left: 1rem;
    
}

.rightNavIcons{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0.5rem 0;
    -webkit-box-shadow: 0 0 0.9rem 0.35rem #000000; 
    box-shadow: 0px 0px 1rem 0.35rem #000000;
    border-radius: 1.25rem;
    width: calc(100% - 8rem);
    margin-top: 1rem;
    margin-left: 1rem;
}



.navIcons, .navIcons>a{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}


.active span{
    padding-top: 0.3rem;
    font-size: 0.75rem !important;
}

.navIcons span{
    font-size: 0.7rem;
}
.navIcons>svg, .navIcons>a>svg{
    font-size: 1.6rem;
}
.navIcons>a>img{
    object-fit: cover;
    aspect-ratio: 1;
    width: 1.7rem;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--white);
}


.navIcons:hover{
    transition: ease-in 200ms;
    color: var(--lightblue);
    cursor: pointer;
}

.blur{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100vh; */
    width: 100%;
    z-index: 2;
    filter: blur(0.25rem);
    background-color: rgba(128, 128, 128, 0.358);
    overflow-y: hidden;
    transition: 10000ms ease-in-out;
}

.new-post{
    position: absolute;
    z-index: 3;
    top: 0;
    left: calc(50% - 20rem);
}

.menu{
    display: none;
}

.menu-bar{
    display: none;
}


.search-results{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    top: 3.5rem;
    left: 8rem;
    /* width: calc(27.5% - 7rem); */
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 32);
    z-index: 3;
    padding: 1rem 3rem;
    max-height: 20rem;
    overflow-y: scroll;
    min-width: 10%;
}

.search-results > svg{
    color: rgba(255, 0, 0, 0.847);
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    cursor: pointer;
}
.search-results > svg:hover{
    color: var(--lightblue);
}

.search-user{
    width: 100%;
}
.search-user > a{
    text-decoration: none;
    color: inherit;
    display: flex;
    
    align-items: center;
    gap: 1.5rem;
    /* cursor: pointer; */
    height: 100%;
}
.search-user > a > img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.search-user > a > .search-names{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
    justify-content: center;
}
.search-names > .search-fullname{
    font-size: 1.1rem;
    font-weight: 600;
}
.search-names > .search-username{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--lightGray);
}

.menu-bar-left{
    display: none;
}
.empty{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}

@media screen and (max-width: 1024px) and (min-width: 700px){
    .navbar{
        position: relative;
        grid-template-columns: 60% 40%;
    }
    .navItemContainer:nth-of-type(1){
        display: flex;
        /* width: calc(100% - 2rem); */
        z-index: 2;
    }
    .navItemContainer:nth-of-type(2){
        width: 60%;
        position: fixed;
        bottom: 0;
        height: 4rem;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--lightBlack);
    }
    
    .centerNavIcons{
        position: absolute;
        width: calc(100% - 0.2rem);
        right: 0rem;
        bottom: 0;
        margin-bottom: 1rem;
        background-color: var(--lightBlack);
    }
    .rightNavIcons{
        width: calc(100% - 7rem);
    }
    .search-results{
        padding: 1.5rem 3rem;
        min-width: 30%;
        gap: 1.5rem;
        left: 14%;
    }
    .empty{
        z-index: 3;
    }
}

@media screen and (max-width: 700px){
    .navbar{
        grid-template-columns: 100%;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .navItemContainer:nth-of-type(1){
        position: fixed;
        width: 100%;
        top: 0;
        padding: 0.5rem 0;
        z-index: 2;
        background-color: var(--lightBlack);
        display: grid;
        grid-template-columns: 90% 10%;
        /* justify-content: center;
        align-items: center; */
        /* margin-left: -5%; */

    }
    .navItemContainer:nth-of-type(2){
        width: 100%;
        height: 4rem;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--lightBlack);
    }
    
    .centerNavIcons{
        position: absolute;
        width: calc(100% - 0.2rem);
        right: 0rem;
        left: -1rem;
        margin-bottom: 1rem;
        background-color: var(--lightBlack);
        z-index: 2;
    }
    .navItemContainer:nth-of-type(3){
        display: none;
    }
    .rightNavIcons{
        position: relative;
        width: 80%;
        margin-left: 10%;
    }
    /* .logoSearch{
        width: 90%;
        margin-left: 10%;
    } */
    .menu{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .menu-bar{
        display: flex;
        flex-direction: column;
        position:absolute;
        background-color: var(--black);
        width: 80%;
        height: 100%;
        z-index: 4;
        right: 0;
        top: 0;
        overflow: hidden;
        transform: scaleX(100%);
        transition: 200ms ease-in-out;
    }
    .menu-bar > svg{
        position: absolute;
        top: 2rem;
        left: 1rem;
        color: red;
    }
    .menu-bar > svg:hover{
        color: var(--lightblue);
    }

    .menu-bar-left{
        display: flex;
        position: absolute;
        width: 20%;
        height: 100%;
        z-index: 4;
        left: 0;
        top: 0;
        background-color: transparent;
    }

    .new-post{
        top: 20%;
        left: 1.75rem;
    }

    .search-results{
        padding: 1.5rem 3rem;
        min-width: 70%;
        left: calc(15% - 1.5rem);
        gap: 1.5rem;
    }
    .empty{
        z-index: 5 !important;
    }
}


