.navbar{
    position: sticky;
    display: grid;
    grid-template-columns: 27.5% 45% 27.5%;
    height: 5rem;
}

.navItemContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.logoSearch{
    width: calc(100% - 8rem);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 0.5rem;
    position: relative;
}
.search{
    display: flex;
    border-radius: 5rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--white);
    width: calc(100% - 5rem);
}
.search>input{
    border: none;
    font-size: 0.95rem;
    width: 100%;
}

.search>input:focus{
    outline: none;
}
.searchIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.5rem;
    
}
.searchIcon:hover{
    cursor: pointer;
}
.icon{
    color: black;
}
.logo{
    width: 5rem;
    height: 2.5rem;
}


.centerNavIcons{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    -webkit-box-shadow: 0 0 0.9rem 0.35rem #000000; 
    box-shadow: 0px 0px 1rem 0.35rem #000000;
    border-radius: 2rem;
    width: calc(100% - 3rem);
    margin-top: 1rem;
    margin-left: 1rem;
    
}

.rightNavIcons{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 0.5rem 0;
    -webkit-box-shadow: 0 0 0.9rem 0.35rem #000000; 
    box-shadow: 0px 0px 1rem 0.35rem #000000;
    border-radius: 1.25rem;
    width: calc(100% - 8rem);
    margin-top: 1rem;
    margin-left: 0.2rem;
}



.navIcons, .navIcons>a{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}


.active span{
    padding-top: 0.3rem;
    /* font-size: 0.75rem; */
}

.navIcons span{
    font-size: 0.75rem;
}
.navIcons>svg, .navIcons>a>svg{
    font-size: 1.6rem;
}
.navIcons>a>img{
    object-fit: cover;
    aspect-ratio: 1;
    width: 1.7rem;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--white);
}


.navIcons:hover{
    transition: ease-in 200ms;
    color: var(--lightblue);
    cursor: pointer;
}

.blur{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100vh; */
    width: 100%;
    z-index: 2;
    filter: blur(0.25rem);
    background-color: rgba(128, 128, 128, 0.358);
    overflow-y: hidden;
    transition: 10000ms ease-in-out;
}

.new-post{
    position: absolute;
    z-index: 3;
    top: 20%;
    left: calc(50% - 20rem);
}

.menu{
    display: none;
}

.menu-bar{
    display: none;
}

@media screen and (max-width: 1024px) and (min-width: 850px){
    .navbar{
        grid-template-columns: 60% 40%;
    }
    .navItemContainer:nth-of-type(1){
        display: none;
    }
}

@media screen and (max-width: 849px){
    .navbar{
        grid-template-columns: 100%;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .navItemContainer:nth-of-type(1){
        position: fixed;
        width: 100%;
        top: 0;
        padding: 0.5rem 0;
        z-index: 10;
        background-color: var(--lightBlack);
        display: grid;
        grid-template-columns: 90% 10%;
        justify-content: center;
        align-items: center;
    }
    .navItemContainer:nth-of-type(2){
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 10;
        display: flex;
        padding: 0.5rem 0;

    }
    .navItemContainer:nth-of-type(3){
        display: none;
    }
    .rightNavIcons{
        position: relative;
        width: 75%;
        margin-left: 15%;
    }
    .logoSearch{
        width: 90%;
        margin-left: 10%;
    }
    .menu{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .menu-bar{
        display: flex;
        flex-direction: column;
        position:absolute;
        background-color: var(--black);
        width: 80%;
        height: 100%;
        z-index: 11;
        right: 0;
        top: 0;
        overflow: hidden;
        transform: scaleX(100%);
        transition: 200ms ease-in-out;
    }
    .menu-bar > svg{
        position: absolute;
        top: 2rem;
        left: 1rem;
        color: red;
    }
    .menu-bar > svg:hover{
        color: var(--lightblue);
    }

    .new-post{
        top: 25%;
        left: 1.75rem;
    }
}


